@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Kalam:wght@300;400;700&display=swap');


.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

  
@layer base {
    h1 {
        @apply text-4xl m-2;
    }
    h2 {
        @apply text-2xl m-2;
    }
    pre {
        @apply bg-slate-900 rounded-md text-white p-6
    }
    html {
        scroll-behavior: smooth;
      }

  }

  .tiptap {
    > * + * {
      margin-top: 0.75em;
    }
  }
  @media (min-width: 769px) {
    .tiptap p.is-empty::before {
        height: 0;
        color: #8a8f94; 
        content: attr(data-placeholder);
        float: left;
        pointer-events: none;
        font-size: xx-large; /* Default font size */
        font-family: 'Courier New', Courier, monospace;
    }
  }
  @media (max-width: 640px) {
    .tiptap p.is-empty::before {
        height: 0;
        color: #8a8f94; 
        content: attr(data-placeholder);
        float: left;
        pointer-events: none;
        font-size: x-large; /* Default font size */
        font-family: 'Courier New', Courier, monospace;
    }
  }
  .custom-text p {
    color: #fafaf9; 
  }

/* Tailwind CSS responsive font sizes */
@media (max-width: 640px) {
    .tiptap p.is-empty::before {
        font-size: sm; /* Small font size on small screens */
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .tiptap p.is-empty::before {
        font-size: md; /* Medium font size on medium screens */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .tiptap p.is-empty::before {
        font-size: lg; /* Large font size on large screens */
    }
}

/* Add more breakpoints as needed */
html {
    background-color:  #181818; /* Set the background color to Tailwind CSS white */
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none;
}


.sidebar-container {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100vh; 
  background-color:  rgb(38 38 38); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  transition: left 0.3s ease;
  z-index: 999; 
} 

.sidebar-container.open {
  left: 0; 
}

.toggle-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}
